button{
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: rgba(154, 189, 255, 0.808);
    color: black;
    border: none;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 18px;
    font: bolder;
    letter-spacing: .1rem;
    color: white;
}

button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: cornflowerblue;
    z-index: -1;
    transition: .5s;
}

button:hover::before{
    width: 100%;
}